* {
    margin: 0;
    padding: 0;
}

footer {
    height: 12vh;
    background-color: lightpink;
    color: rgb(6, 5, 5);
}

nav {
    display: flex;
}

.logo {

    display: flex;
    align-items: center;
}

logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

header {
    background-color: rgb(155, 78, 89);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li {
    list-style: none;
    list-style: none;
    padding: 0 23px;
    font-size: 23px;


}

nav ul li a{
    color: rgb(6, 2, 2);
    text-decoration: none;

    /* position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius:10px; */
}


nav ul li a:hover{
    color: rgb(152, 200, 56);
    font-style: bold;

}

.search {
    display: flex;
    align-items: center;


    width: 493px;
    border-radius: 5px;
    justify-content: center;
    margin-left:80px;
    
    
}

.search input {
    width: 493px;
    height: 23px;
    border-radius: 5px;
    margin: 0 12px 0 56px;
    text-align: center;

}

/* .slider {
    margin: auto;
    width: 80vw;
    margin: 12px auto;
} */

/* .card { */
    /* margin-top: 50vh; */
    /* max-width: 91vw;
    margin: auto;
} */

/* .card-item {
    display: inline-flex;
    width: 10vw;
    flex-direction: column;
} */

/* 
.card h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


} */

.container {

    min-height: calc(100vh - 58px - 12vh);
}

.card{
    margin-top: 10%;
    margin-left: 10%;
    display: inline-block;
    background-color: rgb(165, 72, 226);
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card-img-top{
    margin-top: 30px;

}

.btn{
    padding: 0;
    color: white;
    background: rgb(128, 70, 49);
    border-radius: 2px;
    cursor: pointer;
}
 .card-body{
     font-size: 20px;

 }
/* 
.card2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    display: flexbox;
    display: ;
    

} */

body{
    background-color:black
    
}

